#   IAU Zadanie - I. fáza

### Autori: Peter Brandajsky, Frederik Duvač

## 1.1.A
### Načítanie údajov z datasetov

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

connections = pd.read_csv('dataset/connections.csv', sep='\t')
devices = pd.read_csv('dataset/devices.csv', sep='\t')
processes = pd.read_csv('dataset/processes.csv', sep='\t')
profiles = pd.read_csv('dataset/profiles.csv', sep='\t')

Import vsetkych potrebnych kniznic a nacitavanie vsetkych csv datasetov

### Náhlad na dáta

In [19]:
connections.head()

,ts,imei,mwra,c.android.gm,c.android.chrome,c.dogalize,c.katana,c.android.youtube,c.android.vending,c.updateassist,c.UCMobile.intl,c.raider,c.UCMobile.x86
0,2018-05-05 10:00:00,3590433799317661479,0.0,7.58999,10.10690,13.15797,9.38358,12.97598,36.79370,93.07163,49.48807,49.89508,98.53288
1,2018-05-05 10:01:00,3590433799317661115,1.0,13.90744,11.08136,10.56072,11.35434,13.32609,45.54295,25.35344,12.25272,40.96505,89.22454
2,2018-05-05 10:02:00,359043379931766155,0.0,12.07737,9.28159,11.69018,9.33765,13.66042,31.33313,57.10267,15.59104,10.05703,15.64089
3,2018-05-05 10:03:00,3590433799317661040,0.0,11.93742,9.87723,14.49817,10.41657,15.17780,32.24723,67.04176,27.06914,91.52950,67.54428
4,2018-05-05 10:04:00,8630330696303481669,1.0,7.91094,14.34135,11.03992,16.50329,7.84216,63.95286,65.50634,44.55535,79.41878,77.33712

In [20]:
devices.head()

,latitude,longitude,store_name,code,location,imei
0,4.73245,-74.26419,Madrid,CO,America/Bogota,863033069630348750
1,39.08367,-84.50855,Covington,US,America/New_York,359043379931766106
2,40.78206,72.34424,Andijon,UZ,Asia/Tashkent,359043379931766080
3,51.21667,6.26667,Schwalmtal,DE,Europe/Berlin,3590433799317662097
4,-20.88231,55.45040,Saint-Denis,RE,Indian/Reunion,359043379931766858

In [21]:
processes.head()

,ts,imei,mwra,p.android.documentsui,p.system,p.android.settings,p.android.chrome,p.android.externalstorage,p.android.gm,p.android.packageinstaller,...,p.process.gapps,p.katana,p.gms.persistent,p.android.defcontainer,p.browser.provider,p.simulator,p.notifier,p.android.vending,p.dogalize,p.android.gms
0,2018-05-05 10:00:00,3590433799317661479,0.0,14.93158,13.47713,10.51391,15.73499,14.71386,9.88481,9.15762,...,31.46173,75.73633,17.18109,28.63863,86.03245,87.66743,22.50267,62.67423,85.26363,47.83375
1,2018-05-05 10:01:00,3590433799317661115,1.0,15.37789,10.48076,7.24354,9.60153,10.89773,14.42057,12.24721,...,57.78407,88.65165,0.35403,37.70733,50.73157,22.83300,20.08413,45.59394,42.29871,32.98469
2,2018-05-05 10:02:00,359043379931766155,0.0,14.09049,15.09701,11.13193,15.57847,10.92102,11.49681,13.91882,...,39.65381,80.18738,92.40107,69.92029,58.19673,77.88785,71.49623,9.73326,12.17514,79.96124
3,2018-05-05 10:03:00,3590433799317661040,0.0,17.65116,15.78441,8.08873,12.00361,14.08151,9.77671,8.83181,...,47.65908,65.78662,8.17850,21.81412,28.87156,70.59531,19.30408,28.30924,85.76963,90.10998
4,2018-05-05 10:04:00,8630330696303481669,1.0,9.57859,9.37637,17.19974,8.01502,10.33320,8.34208,11.38305,...,47.05190,32.27816,35.86468,93.24048,16.82238,3.86695,19.23138,72.90849,75.26363,81.45468

In [22]:
profiles.head()

,mail,address,ssn,residence,company,registration,user_id,job,name,birthdate,username,imei
0,gperez@gmail.com,"5545 Amy Walk\r\nNorth Johnnymouth, VI 16727",465-13-3266,NaN,Brown Inc,2024-01-24,830,Physiotherapist,Nancy Brown,1979-11-07,albert50,3590433799317661727
1,awerner@yahoo.com,"523 Kelly Ranch Suite 435\r\nKiddmouth, ME 87984",024-63-8411,20972 Grimes Spurs Apt. 591\r\nNorth Karenside...,"Smith, Jones and Hall","08/17/2022, 00:00:00",977,NaN,Teresa Hunter,NaN,timothy47,8630330696303481834
2,katherinehernandez@yahoo.com,"33764 Richard Fields Apt. 723\r\nBeckerburgh, ...",521-62-8780,"52324 Wood Stravenue\r\nMargarethaven, MH 78618","Mcintosh, Smith and Garcia",2024-03-01,806,NaN,Sandra Alvarado,1927-12-23,ujohnson,3590433799317661958
3,dalton31@yahoo.com,"069 Tucker Islands\r\nNorth Margaretmouth, NE ...",414-17-7604,"110 David Estate Apt. 175\r\nOrtizport, MN 46576","Lee, Warner and Carr",09 Dec 2017,968,Tree surgeon,Stephen Price,NaN,vjimenez,3590433799317662436
4,riverakimberly@yahoo.com,"57438 Brian Terrace\r\nLake Cathymouth, NJ 42311",761-59-8276,NaN,Grant-Bullock,2022/09/25,2255,NaN,Austin Morgan,NaN,rachel06,8630330696303482378

### Deskriptívna štatistika a základné informácie

In [23]:
connections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15063 entries, 0 to 15062
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ts                 15063 non-null  object
 1   imei               15063 non-null  int64
 2   mwra               15063 non-null  float64
 3   c.android.gm       15063 non-null  float64
 4   c.android.chrome   15063 non-null  float64
 5   c.dogalize         15063 non-null  float64
 6   c.katana           15063 non-null  float64
 7   c.android.youtube  15063 non-null  float64
 8   c.android.vending  15063 non-null  float64
 9   c.updateassist     15063 non-null  float64
 10  c.UCMobile.intl    15063 non-null  float64
 11  c.raider           15063 non-null  float64
 12  c.UCMobile.x86     15063 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.5+ MB

Základné informácie o súbore connections.csv. Nultý column je objekt(na ktorý sa pozrieme neskôr), prvý je celočíselná hodnota IMEI, mwra, ktorý je float64, ale môže byť len 1.0 alebo 0.0 a ostatné columns znázorňujú čas strávený používaním rôznych aplikácií.

In [24]:
connections.describe()

,imei,mwra,c.android.gm,c.android.chrome,c.dogalize,c.katana,c.android.youtube,c.android.vending,c.updateassist,c.UCMobile.intl,c.raider,c.UCMobile.x86
count,1.506300e+04,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000
mean,3.922832e+18,0.626967,11.985798,10.721860,12.543233,11.895797,11.988664,48.919265,52.275839,50.015333,50.221337,49.793563
std,3.323588e+18,0.483627,2.648848,2.380831,2.562875,2.642190,2.517981,12.681511,13.013464,28.850116,28.847179,28.678667
min,3.590434e+17,0.000000,2.106500,3.395920,3.528020,3.092610,3.517590,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,10.214355,9.014125,10.742925,9.956585,10.176625,40.445000,43.465130,24.992175,25.166290,25.415205
50%,3.590434e+18,1.000000,12.155910,10.398850,12.606110,11.950320,12.128500,48.995670,52.336180,50.311880,49.987640,49.893200
75%,8.630331e+18,1.000000,13.849295,12.231520,14.341190,13.776895,13.842675,57.587545,61.087120,75.028145,75.291150,74.121640
max,8.630331e+18,1.000000,21.264560,20.334000,21.916180,21.581420,21.546600,100.000000,100.000000,100.000000,100.000000,100.000000

In [25]:
devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884 entries, 0 to 2883
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    2884 non-null   float64
 1   longitude   2884 non-null   float64
 2   store_name  2884 non-null   object
 3   code        2882 non-null   object
 4   location    2884 non-null   object
 5   imei        2884 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 135.3+ KB

Základné informácie o súbore devices.csv. Nultý column znázorňuje zemepisnú šírku a prvý zemepisnú šírku. Druhý znázorňuje obchod, v ktorom bol kúpený, tretí znázorňuje označenie krajiny pôvodu, štvrtý obsahuje hodnoty "Kontinent/Mesto". Piatý column znázorňuje imei telefónu.

In [26]:
devices.describe()

          latitude    longitude          imei
count  2884.000000  2884.000000  2.884000e+03
mean     29.577986     9.312386  3.832230e+18
std      22.568481    72.474758  3.297289e+18
min     -54.800000  -156.474320  3.590434e+17
25%      15.779630   -60.588350  8.630331e+17
50%      36.533330     9.440800  3.590434e+18
75%      46.135100    69.676390  8.630331e+18
max      68.798330   178.004170  8.630331e+18

In [5]:
processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15063 entries, 0 to 15062
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ts                          15063 non-null  object
 1   imei                        15063 non-null  int64
 2   mwra                        15063 non-null  float64
 3   p.android.documentsui       15063 non-null  float64
 4   p.system                    15063 non-null  float64
 5   p.android.settings          15063 non-null  float64
 6   p.android.chrome            15063 non-null  float64
 7   p.android.externalstorage   15063 non-null  float64
 8   p.android.gm                15063 non-null  float64
 9   p.android.packageinstaller  15063 non-null  float64
 10  p.inputmethod.latin         15063 non-null  float64
 11  p.olauncher                 15063 non-null  float64
 12  p.google                    15063 non-null  float64
 13  p.process.gapps             15063 non-null  float64
 14  p.katana                    15063 non-null  float64
 15  p.gms.persistent            15063 non-null  float64
 16  p.android.defcontainer      15063 non-null  float64
 17  p.browser.provider          15063 non-null  float64
 18  p.simulator                 15063 non-null  float64
 19  p.notifier                  15063 non-null  float64
 20  p.android.vending           15063 non-null  float64
 21  p.dogalize                  15063 non-null  float64
 22  p.android.gms               15063 non-null  float64
dtypes: float64(21), int64(1), object(1)
memory usage: 2.6+ MB

In [33]:
processes.describe()

,imei,mwra,p.android.documentsui,p.system,p.android.settings,p.android.chrome,p.android.externalstorage,p.android.gm,p.android.packageinstaller,p.inputmethod.latin,...,p.process.gapps,p.katana,p.gms.persistent,p.android.defcontainer,p.browser.provider,p.simulator,p.notifier,p.android.vending,p.dogalize,p.android.gms
count,1.506300e+04,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,...,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000,15063.000000
mean,3.922832e+18,0.626967,13.179530,10.828974,11.328056,10.835727,10.214819,10.729136,11.355121,54.672425,...,48.455212,49.482099,49.637333,49.648484,50.028762,50.289634,49.852875,49.833022,49.553936,49.748723
std,3.323588e+18,0.483627,2.106768,2.624534,2.612736,2.651582,2.425357,2.635725,2.825455,12.259624,...,13.131514,28.945060,28.978283,28.909703,28.939480,28.811708,29.033559,28.963769,29.045085,28.851959
min,3.590434e+17,0.000000,2.454140,1.453840,2.564740,0.095330,0.000000,0.838140,1.879460,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,11.777450,8.937055,9.415835,8.950495,8.537440,8.858685,9.295185,46.456150,...,39.608055,24.518605,24.667705,24.380080,24.950785,25.607545,24.591035,24.526445,24.167360,24.719895
50%,3.590434e+18,1.000000,13.193280,10.651700,11.419450,10.783490,10.085740,10.714620,11.244970,54.723540,...,48.482600,49.266240,49.231440,49.515990,50.326420,50.513170,49.839600,49.554560,49.954160,49.438760
75%,8.630331e+18,1.000000,14.581045,12.584950,13.265460,12.748115,11.827390,12.637045,13.330380,62.937330,...,57.243590,74.705120,74.838120,74.767570,74.912630,75.259580,75.348935,74.976365,74.746085,74.796170
max,8.630331e+18,1.000000,20.996240,22.464430,20.129620,20.751970,18.698080,21.340770,22.179540,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [6]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mail          2616 non-null   object
 1   address       2224 non-null   object
 2   ssn           2616 non-null   object
 3   residence     916 non-null    object
 4   company       2616 non-null   object
 5   registration  2616 non-null   object
 6   user_id       2616 non-null   int64
 7   job           785 non-null    object
 8   name          2616 non-null   object
 9   birthdate     1439 non-null   object
 10  username      2616 non-null   object
 11  imei          2616 non-null   int64
dtypes: int64(2), object(10)
memory usage: 245.4+ KB

In [28]:
profiles.describe()

           user_id          imei
count  2616.000000  2.616000e+03
mean   1295.134557  3.856205e+18
std     753.341540  3.306361e+18
min       0.000000  3.590434e+17
25%     646.750000  8.630331e+17
50%    1272.000000  3.590434e+18
75%    1957.500000  8.630331e+18
max    2613.000000  8.630331e+18

### Opis dát v jednotlivych stlpcoch

In [3]:
print(connections['ts'])

0        2018-05-05 10:00:00
1        2018-05-05 10:01:00
2        2018-05-05 10:02:00
3        2018-05-05 10:03:00
4        2018-05-05 10:04:00
                ...
15058    2018-05-06 01:15:00
15059    2018-05-08 13:40:00
15060    2018-05-13 01:59:00
15061    2018-05-09 09:01:00
15062    2018-05-08 01:53:00
Name: ts, Length: 15063, dtype: object

V nultom columne v súbore connections.csv sa nachádza hodnota dátumu a času.